
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card{
    width: 450px;
    height:400px;
    margin: 10px auto;
    border-radius: 14px 14px 0px 0px;
    border: 1px solid lightgray;
    position:relative;
}
.card-img{
    width: 100%;
    height:50%;
    border-radius: 14px 14px 0px 0px;
    position: absolute;
}
.circle-img{
    width:150px;
    margin:110px  150px;
    border-radius: 90px;
    position:sticky;
    border:6px solid rgb(255, 255, 255);
}
.h3{
    width:100%;
    position: absolute;
    top: 70%;
    left:165px;
    font-weight: 600;
    font-size: 25px;
}
.p{
    width:100%;
    position: absolute;
    top: 80%;
    left:110px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(37, 36, 36);
}